<div class="flex flex-col items-center group max-w-screen-xl mx-auto h-full">
  <a routerLink="/">
    <img
      src="https://static.wixstatic.com/media/f41861_823df6a9d8ea437cae9d1afcb3768ab1~mv2.png/v1/fill/w_168,h_45,al_c,q_85,usm_0.66_1.00_0.01/logoweb.webp"
      alt="System Agency Logo"
    />
  </a>

  <ul
    class="flex list-none text-sm font-light group-hover:max-h-5 mt-4 max-h-0 transition-all transform duration-500 ease-in overflow-hidden space-x-4"
  >
    <li *ngFor="let item of items" class="uppercase">
      <a
        [routerLink]="item.url"
        routerLinkActive="font-medium"
        class="uppercase hover:underline"
      >
        {{ item.name }}
      </a>
    </li>
  </ul>
</div>
