<div class="max-w-screen-xl mx-auto space-y-8">
  <app-video-js-player
    [options]="{
      autoplay: true,
      controls: true,
      fluid: true,
      sources: [
        {
          src:
            'https://video.wixstatic.com/video/f41861_d224bb5bee974036b03f1ec71f423f59/1080p/mp4/file.mp4',
          type: 'video/mp4'
        }
      ]
    }"
  ></app-video-js-player>
  <div class="space-y-8 max-w-screen-md mx-auto">
    <div class="flex justify-between">
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Nastya</span> Gonchar
          </p>
          <p>Miu Miu Exclusive F/W 2020</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_b030cf72959e4f27a2bef8018ed8f166~mv2.jpg/v1/fill/w_291,h_431,al_c,q_80,usm_0.66_1.00_0.01/Nastya-Gonchar-2.webp"
            alt="Nastya Gonchar at Miu Miu Exclusive F/W 2020"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Viktoria</span> Lulko
          </p>
          <p>Prada Exclusive F/W 2020</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_8b80acfa36bb446ba363651858f22a0a~mv2.jpeg/v1/fill/w_295,h_431,al_c,q_80,usm_0.66_1.00_0.01/Vika%20Lulko%20Prada.webp"
            alt="Viktoria Lulko at Prada Exclusive F/W 2020"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="text-center">
        <p class="font-medium"><span class="uppercase">Azu</span> Nwogu</p>
        <p>Gucci Eyewear 2020 Campaign</p>
      </div>
      <app-video-js-player
        [options]="{
          autoplay: true,
          controls: true,
          fluid: true,
          sources: [
            {
              src:
                'https://video.wixstatic.com/video/f41861_5adcbfcf10ac49a1b8fb5333ebee4afe/1080p/mp4/file.mp4',
              type: 'video/mp4'
            }
          ]
        }"
      ></app-video-js-player>
      <p class="text-center text-sm">
        Azu browses through the records of Amoeba Music Hollywood store in
        Gucci's latest eyewear campaign, paying homage to American 80’s teen
        movies, photographed and filmed by Harmony Korine.
      </p>
    </div>

    <div class="flex justify-between">
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Pasha</span> Harulia
          </p>
          <p>Vogue USA</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_1e3056edc0954efa92c484aaed8631ef~mv2.jpg/v1/fill/w_301,h_420,al_c,q_80,usm_0.66_1.00_0.01/Pasha%20Vogue%20feautered.webp"
            alt="Pasha Harulia at Vogue USA"
            class="w-full h-full object-cover"
          />
        </div>
        <p class="text-center text-sm">
          In her debut with American Vogue, Pasha speaks to the magazine’s
          Fashion News Director, Chioma Nnadi about asserting her individuality
          as a collaborator in the fashion industry.
        </p>
      </div>
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Cate</span> Underwood
          </p>
          <p>Johanna Ortiz x H&M Campaign</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_79e6e3370b5a4cd78a89a6085129d692~mv2.jpg/v1/fill/w_360,h_420,al_c,q_80,usm_0.66_1.00_0.01/1a_%20cover%2C%20followed%20by%20video.webp"
            alt="Cate Underwood at Johanna Ortiz x H&M Campaign"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Vovk</span>
          </p>
          <p>Grazia Russia</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_5e61113d47784286af1b41b533730be5~mv2.jpg/v1/fill/w_373,h_480,al_c,q_80,usm_0.66_1.00_0.01/Vovk-1.webp"
            alt="Vovk at Grazia Russia"
            class="w-full h-full object-cover"
          />
        </div>
        <p class="text-center text-sm">
          Vovk on the cover of March Issue of Grazia Russia.
        </p>
      </div>
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Rose</span> Valentine
          </p>
          <p>L'Officiel Mexico</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_6564d2fdaca84b43ad3ff91157122cc9~mv2.jpg/v1/fill/w_403,h_480,al_c,q_80,usm_0.66_1.00_0.01/Rose-Valentine-3.webp"
            alt="Rose Valentine at L'Officiel Mexico"
            class="w-full h-full object-cover"
          />
        </div>
        <p class="text-center text-sm">
          Rose graces the cover of L’Officiel Mexico in an haute couture special
          for the magazine’s 6th anniversary.
        </p>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Nigina</span> Sharipova
          </p>
          <p>Bottega Veneta F/W 2020</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_a9d00b8375a84f7db5411a4a7c4b855e~mv2.jpg/v1/fill/w_291,h_431,al_c,q_80,usm_0.66_1.00_0.01/6.webp"
            alt="Nigina Sharipova at Bottega Veneta F/W 2020"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Viktoria</span> Lulko
          </p>
          <p>Valentino F/W 2020</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_df3be6bdd3854d269e5c4823a8bedce0~mv2.jpeg/v1/fill/w_291,h_431,al_c,q_80,usm_0.66_1.00_0.01/5.webp"
            alt="Viktoria Lulko at Valentino F/W 2020"
            class="w-full h-full object-cover"
          />
        </div>
        <p class="text-center text-sm">
          Viktoria Lulko opens Valentino's F/W 2020 show in Milan during her
          debut season.
        </p>
      </div>
    </div>

    <div>
      <div class="text-center">
        <p class="font-medium"><span class="uppercase">Samuel</span> Saadoja</p>
        <p>Fendi x Highsnobiety</p>
      </div>
      <div>
        <img
          src="https://static.wixstatic.com/media/f41861_5a7f4a75c69944d4891078ad031d4b30~mv2.jpg/v1/fill/w_740,h_491,al_c,q_85,usm_0.66_1.00_0.01/Sam%20for%20FENDIxHighsnobiety.webp"
          alt="Samuel Saadoja at Fendi x Highsnobiety"
          class="w-full h-full object-cover"
        />
      </div>
      <p class="text-center text-sm">
        Samuel Saadoja features in Fendi x Highsnobiety's collaboration
        campaign.
      </p>
    </div>

    <div class="flex justify-between">
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium">
            <span class="uppercase">Mong</span> Chi Chio
          </p>
          <p>GRAZIA Italia & China Cover</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_0c9540f3f3bd48898cdc58729e01ae14~mv2.jpeg/v1/fill/w_364,h_480,al_c,q_80,usm_0.66_1.00_0.01/1.webp"
            alt="Mong Chi Chio at GRAZIA Italia & China Cover"
            class="w-full h-full object-cover"
          />
        </div>
        <p class="text-center text-sm">
          Mong Chi Chio covers Grazia Italia and Grazia China's March 2020 issue
          as Italy and China, the countries that have been hit the hardest by
          the current Cover-19 pandemic, share covers in this inspiring
          evocation of togetherness.
        </p>
      </div>
      <div class="w-2/5 flex flex-col">
        <div class="text-center">
          <p class="font-medium"><span class="uppercase">Aivita </span> Muze</p>
          <p>Dior Magazine</p>
        </div>
        <div class="flex-1">
          <img
            src="https://static.wixstatic.com/media/f41861_5552bb736f5f49869bf97204b3f48dd0~mv2.jpeg/v1/fill/w_359,h_480,al_c,q_80,usm_0.66_1.00_0.01/2.webp"
            alt="Aivita Muze at Dior Magazine"
            class="w-full h-full object-cover"
          />
        </div>
        <p class="text-center text-sm">
          Aivita Muze features in Dior Magazine's celebration of Spring,
          photographed by Liz Collins.
        </p>
      </div>
    </div>
  </div>
</div>
